@charset "UTF-8";

@media (min-width: 1024px) {

    #links {
        list-style: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-content: space-between;
        align-items: center;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    p {
        margin: 0px 5px 0px 5px;
    }
    
    a:hover {
        color: #E45024;
    }

    a:active {
        color: #E45024;
    }

    a:visited {
        color: blue;
    }
}