@charset "UTF-8";

@media (min-width: 1024px) {
    #aside {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
}