@media (min-width: 1024px) {

    #inner-white-bar {
        width: 85%;
        height: 40px;
        background-color: white;
        display: flex;
        flex-direction: row;
    }

    #icon-gallery {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    #support-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
   
}