@charset "UTF-8";

@media (min-width: 1024px) {

    #links {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }
    
    a:hover {
        color: #E45024;
    }

    a:active {
        color: #E45024;
    }

    a:visited {
        color: blue;
    }
}