@charset "UTF-8";

@media (min-width: 1024px) {
    #selector {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 560px;
        height: 150px;
    }
}