@charset "UTF-8";

@media (min-width: 1024px) {
    #selector {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: right;
        width: 550px;
        height: 150px;
    }

    hr {
        width: 550px;
        height: 2px;
    }
}